/*!CK:3214795752!*//*1410841430,*/

.sp_1PoMjaD1kgy{background-image:url(/rsrc.php/v2/y5/r/VhDDs8Nf12X.png);background-size:27px 32px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_1PoMjaD1kgy.sx_a28d70{width:13px;height:14px;background-position:-13px 0}.selected .sp_1PoMjaD1kgy.sx_a28d70{background-position:0 0}.sp_1PoMjaD1kgy.sx_f98cd9{background-position:0 -15px}

#bootloader_a4jn5 { height: 42px; }
.bootloader_a4jn5 { display:block !important; }