/*!CK:492067272!*//*1410877528,*/

.sp_g6S0U8kCxCD{background-image:url(/rsrc.php/v2/yq/r/0cAa9mmJ9SS.png);background-size:17px 34px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_g6S0U8kCxCD.sx_473c1f{background-position:0 0}.sp_g6S0U8kCxCD.sx_62b804{background-position:0 -17px}

#bootloader_DiJ2F { height: 42px; }
.bootloader_DiJ2F { display:block !important; }