/*!CK:4197618201!*//*1410782262,*/

.sp_7343WE1yHE9{background-image:url(/rsrc.php/v2/y0/r/AeY9UZ7muXB.png);background-size:33px 51px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_7343WE1yHE9.sx_f12be4{background-position:-16px 0}.selected .sp_7343WE1yHE9.sx_f12be4{background-position:0 0}.sp_7343WE1yHE9.sx_1dc9e4{background-position:-16px -17px}.selected .sp_7343WE1yHE9.sx_1dc9e4{background-position:0 -17px}.sp_7343WE1yHE9.sx_c809d8{background-position:-16px -34px}.selected .sp_7343WE1yHE9.sx_c809d8{background-position:0 -34px}

#bootloader_pwuo3 { height: 42px; }
.bootloader_pwuo3 { display:block !important; }